:root {
    --fire-color:#ff742e;
    --water-color:#4dccff;
    --grass-color: #088c39;
    --normal-color:#a6a090;
    --ghost-color: #2b2246;
    --flying-color:#a3bfc9;
    --fairy-color:#e896eb;
    --fighting-color:#852500;
    --bug-color:#a7ad4c;
    --psychic-color:#e324dd;
    --steel-color:#bfbfbf;
    --poison-color:#8032ad;
    --ground-color:#b5975b;
    --rock-color:#574931;
    --electric-color:#ffdd00;
    --dragon-color:#3416ba;
    --dark-color:#525252;
    --ice-color:#52fcff
}

body {
    font-family:"Roboto", sans-serif;
    background-color:#fff;
}

.card-img-top {
    object-fit:scale-down;
    width:320px;
    height:320px;
    margin:auto;
    display:block;
    border-radius:20px;
    margin-top:10px;
    background-color:#fff;
    mix-blend-mode:multiply;
}

.card {
    width:350px;
    display:inline-block;
    background-color:#fff;
    text-align:left;
    border-radius:20px;
}

.fire-typeBG {box-shadow:inset 0 0 50px var(--fire-color);}
.water-typeBG {box-shadow:inset 0 0 50px var(--water-color);}
.grass-typeBG {box-shadow:inset 0 0 50px var(--grass-color);}
.normal-typeBG {box-shadow:inset 0 0 50px var(--normal-color);}
.ghost-typeBG {box-shadow:inset 0 0 50px var(--ghost-color);}
.flying-typeBG {box-shadow:inset 0 0 50px var(--flying-color)}
.fairy-typeBG {box-shadow:inset 0 0 50px var(--fairy-color)}
.fighting-typeBG {box-shadow:inset 0 0 50px var(--fighting-color)}
.bug-typeBG {box-shadow:inset 0 0 50px var(--bug-color)}
.psychic-typeBG {box-shadow:inset 0 0 50px var(--psychic-color)}
.steel-typeBG {box-shadow:inset 0 0 50px var(--steel-color)}
.poison-typeBG {box-shadow:inset 0 0 50px var(--poison-color)}
.ground-typeBG {box-shadow:inset 0 0 50px var(--ground-color)}
.rock-typeBG {box-shadow:inset 0 0 50px var(--rock-color)}
.electric-typeBG {box-shadow:inset 0 0 50px var(--electric-color)}
.dragon-typeBG {box-shadow:inset 0 0 50px var(--dragon-color)}
.dark-typeBG {box-shadow:inset 0 0 50px var(--dark-color)}
.ice-typeBG {box-shadow:inset 0 0 50px var(--ice-color)}

.fire-type {background-color:var(--fire-color)}
.water-type {background-color:var(--water-color)}
.grass-type {background-color:var(--grass-color)}
.normal-type {background-color:var(--normal-color)}
.ghost-type {background-color:var(--ghost-color)}
.flying-type {background-color:var(--flying-color)}
.fairy-type {background-color:var(--fairy-color)}
.fighting-type {background-color:var(--fighting-color)}
.bug-type {background-color:var(--bug-color)}
.psychic-type {background-color:var(--psychic-color);}
.steel-type {background-color:var(--steel-color);}
.poison-type {background-color:var(--poison-color);}
.ground-type {background-color:var(--ground-color);}
.rock-type {background-color:var(--rock-color);}
.electric-type {background-color:var(--electric-color);}
.dragon-type {background-color:var(--dragon-color);}
.dark-type {background-color:var(--dark-color);}
.ice-type {background-color:var(--ice-color)}

#load {
    display:block;
    width:100%;
    border-radius:0;
    background-color:#222;
    font-weight:700;
    border:0;
}

.card-text {
    height:100px;
    overflow:auto;
    scrollbar-color:#fff transparent;
    padding:5px;
}

.card-title {
    text-transform:uppercase;
    font-weight:700;
}

.card-body h5 {letter-spacing:1px;}

#container {
    text-align:center;
}

.badge {
    font-size:8pt;
    margin-left:.35em;
    color:#fff;
    text-shadow:1px 1px #000;
    letter-spacing:normal;
}

