body {
    font-family:"Roboto", sans-serif;
    background-color:#fff;
}

.card-img-top {
    object-fit:scale-down;
    width:320px;
    height:320px;
    margin:auto;
    display:block;
    border-radius:20px;
    margin-top:10px;
    background-color:#fff;
    mix-blend-mode:multiply;
}

.card {
    width:350px;
    display:inline-block;
    background-color:#fff;
    text-align:left;
    border-radius:20px;
}

.fire-typeBG {box-shadow:inset 0 0 50px #ff742e;}
.water-typeBG {box-shadow:inset 0 0 50px #4dccff;}
.grass-typeBG {box-shadow:inset 0 0 50px #088c39;}
.normal-typeBG {box-shadow:inset 0 0 50px #a6a090;}
.ghost-typeBG {box-shadow:inset 0 0 50px #41375c;}
.flying-typeBG {box-shadow:inset 0 0 50px #a3bfc9;}
.fairy-typeBG {box-shadow:inset 0 0 50px #e896eb;}
.fighting-typeBG {box-shadow:inset 0 0 50px #ab4709;}
.bug-typeBG {box-shadow:inset 0 0 50px #a7ad4c;}
.psychic-typeBG {box-shadow:inset 0 0 50px #e324dd;}
.steel-typeBG {box-shadow:inset 0 0 50px #bfbfbf;}
.poison-typeBG {box-shadow:inset 0 0 50px #8032ad;}
.ground-typeBG {box-shadow:inset 0 0 50px #b5975b;}
.rock-typeBG {box-shadow:inset 0 0 50px #574931;}
.electric-typeBG {box-shadow:inset 0 0 50px #ffdd00;}
.dragon-typeBG {box-shadow:inset 0 0 50px #5816ba;}
.dark-typeBG {box-shadow:inset 0 0 50px #525252;}
.ice-typeBG {box-shadow:inset 0 0 50px #52fcff}

#load {
    display:block;
    width:100%;
    border-radius:0;
    background-color:#222;
    font-weight:700;
    border:0;
}

.card-text {
    height:100px;
    overflow:auto;
    scrollbar-color:#222 transparent;
    padding:5px;
}

.card-title {
    text-transform:uppercase;
    font-weight:700;
}

.card-body h5 {letter-spacing:1px;}

#container {
    text-align:center;
}

.badge {
    font-size:8pt;
    margin-left:.35em;
    color:#fff;
    text-shadow:1px 1px #000;
    letter-spacing:normal;
}

.fire-type {background-color:#ff742e;}
.water-type {background-color:#4dccff;}
.grass-type {background-color:#088c39;}
.normal-type {background-color:#a6a090;}
.ghost-type {background-color:#41375c;}
.flying-type {background-color:#a3bfc9;}
.fairy-type {background-color:#e896eb;}
.fighting-type {background-color:#ab4709;}
.bug-type {background-color:#a7ad4c;}
.psychic-type {background-color:#e324dd;}
.steel-type {background-color:#bfbfbf;}
.poison-type {background-color:#8032ad;}
.ground-type {background-color:#b5975b;}
.rock-type {background-color:#574931;}
.electric-type {background-color:#ffdd00;}
.dragon-type {background-color:#5816ba;}
.dark-type {background-color:#525252;}
.ice-type {background-color:#52fcff}